.root {
  opacity: 0.6;
  display: inline-flex;
  height: auto;
  width: auto;
  position: relative;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    justify-content: center;
  }
}
.root__darkText {
  height: 100%;
  min-height: 0;
}
.slotLabel {
  font-family: "EB Garamond", serif;
  font-size: 28px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  line-height: 100%;
  letter-spacing: 0em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .slotLabel {
    text-align: center;
  }
}
.slotLabel__darkText {
  color: #74625a /* plasmic-token: _-pdkUEzI */;
}
