.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  background: #a0a0a0;
  min-width: 0;
  min-height: 0;
}
.group25 {
  left: auto;
  top: auto;
  width: 100%;
  height: 90px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding-right: 45px;
  padding-left: 45px;
  min-width: 0;
  flex-shrink: 0;
}
.group25 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: unset;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.group25 > :global(.__wab_flex-container) > *,
.group25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.group25 > :global(.__wab_flex-container) > picture > img,
.group25
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .group25 {
    left: auto;
    top: auto;
    width: auto;
    height: 90px;
    display: inline-flex;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 30px;
    position: relative;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .group25 > :global(.__wab_flex-container) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: unset;
    margin-left: calc(0px - 10px);
    width: calc(100% + 10px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .group25 > :global(.__wab_flex-container) > *,
  .group25 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .group25 > :global(.__wab_flex-container) > picture > img,
  .group25
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 10px;
    margin-top: 0px;
  }
}
.back2 {
  position: relative;
  top: auto;
  left: auto;
  width: auto;
  height: auto;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .back2 {
    position: relative;
    left: auto;
    top: auto;
    width: auto;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex-column-gap: 0px;
    min-height: 0;
  }
}
.link__yyGg1 {
  display: flex;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yyGg1 {
    display: block;
  }
}
.button {
  position: relative;
  font-family: Tangerine;
  font-size: 36px;
  font-weight: 700;
  color: rgba(236, 221, 211, 1);
  line-height: 100%;
  letter-spacing: 0em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    font-family: Tangerine;
    font-size: 42px;
    font-weight: 700;
    color: rgba(236, 221, 211, 1);
    line-height: 100%;
    letter-spacing: 0em;
    border-width: 1px;
    border-style: none;
  }
}
.svg__z7Jqf {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 5px;
  color: #edded4;
  display: block;
  top: auto;
  left: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__z7Jqf {
    position: relative;
    left: auto;
    top: auto;
    width: 100%;
    height: 5px;
    object-fit: cover;
    color: #edded4;
    display: block;
    min-width: 0;
  }
}
.buttons {
  left: auto;
  top: auto;
  width: auto;
  height: auto;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding: 32px 45px;
}
.buttons > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  align-content: unset;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.buttons > :global(.__wab_flex-container) > *,
.buttons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttons > :global(.__wab_flex-container) > picture > img,
.buttons
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttons {
    left: auto;
    top: auto;
    width: auto;
    height: auto;
    display: inline-flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    padding: 0px 50px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttons > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: flex-end;
    align-content: unset;
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 60px);
    height: calc(100% + 60px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .buttons > :global(.__wab_flex-container) > *,
  .buttons > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .buttons > :global(.__wab_flex-container) > picture > img,
  .buttons
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 60px;
  }
}
.link__g0Rr6 {
  display: inline-flex;
  position: relative;
  width: auto;
  justify-content: flex-end;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__g0Rr6 {
    display: inline-block;
    position: relative;
    width: auto;
    justify-content: flex-end;
  }
}
.freeBox {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 48px;
  font-weight: 500;
  color: rgba(236, 221, 211, 1);
  text-align: right;
  line-height: 100%;
  letter-spacing: 0em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox {
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 500;
    color: rgba(236, 221, 211, 1);
    text-align: right;
    line-height: 100%;
    letter-spacing: 0em;
  }
}
.link2 {
  display: inline-flex;
  position: relative;
  width: auto;
  justify-content: flex-end;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link2 {
    display: inline-block;
    position: relative;
    width: auto;
    justify-content: flex-end;
  }
}
.link__vCn3K {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 48px;
  font-weight: 500;
  color: rgba(236, 221, 211, 1);
  text-align: right;
  line-height: 100%;
  letter-spacing: 0em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__vCn3K {
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 500;
    color: rgba(236, 221, 211, 1);
    text-align: right;
    line-height: 100%;
    letter-spacing: 0em;
  }
}
.link3 {
  display: inline-flex;
  position: relative;
  width: auto;
  justify-content: flex-end;
  flex-direction: row;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link3 {
    display: inline-block;
    position: relative;
    width: auto;
    justify-content: flex-end;
  }
}
.link__b7TjA {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 48px;
  font-weight: 500;
  color: rgba(236, 221, 211, 1);
  text-align: right;
  line-height: 100%;
  letter-spacing: 0em;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__b7TjA {
    font-family: "EB Garamond", serif;
    font-size: 48px;
    font-weight: 500;
    color: rgba(236, 221, 211, 1);
    text-align: right;
    line-height: 100%;
    letter-spacing: 0em;
  }
}
.socials {
  left: auto;
  top: auto;
  width: 100%;
  height: 90px;
  display: flex;
  position: absolute;
  flex-direction: row;
  padding-right: 45px;
  padding-left: 45px;
  bottom: 0px;
  right: 0px;
  min-width: 0;
  flex-shrink: 0;
}
.socials > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 29px);
  width: calc(100% + 29px);
}
.socials > :global(.__wab_flex-container) > *,
.socials > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.socials > :global(.__wab_flex-container) > picture > img,
.socials
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 29px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .socials {
    left: auto;
    top: auto;
    height: 90px;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 100%;
    min-width: 0;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .socials > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: calc(0px - 29px);
    width: calc(100% + 29px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .socials > :global(.__wab_flex-container) > *,
  .socials > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .socials > :global(.__wab_flex-container) > picture > img,
  .socials
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 29px;
    margin-top: 0px;
  }
}
.svg__w720E {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 5px;
  color: #edded4;
  transform: skew(-0.057295760414500616deg, 0deg);
  display: block;
  transform-origin: top left;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__w720E {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 5px;
    color: #edded4;
    transform: skew(-0.057295760414500616deg, 0deg);
    display: block;
    transform-origin: top left;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
.link__qW5Au {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__qW5Au {
    position: relative;
    top: auto;
    left: auto;
    display: flex;
    flex-direction: row;
    flex-row-gap: 0px;
  }
}
.svg__ngMpw {
  object-fit: cover;
  width: 30px;
  height: 30px;
  color: #edded4;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__ngMpw {
    object-fit: cover;
    width: 30px;
    height: 30px;
    color: #edded4;
    display: block;
    overflow: hidden;
    position: relative;
    left: auto;
    top: auto;
    flex-shrink: 0;
  }
}
.link__lh6Q8 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__lh6Q8 {
    position: relative;
    top: auto;
    left: auto;
  }
}
.svg__in3Bn {
  object-fit: cover;
  width: 30px;
  height: 30px;
  color: #edded4;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__in3Bn {
    object-fit: cover;
    width: 30px;
    height: 30px;
    color: #edded4;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
  }
}
.link__sxyuM {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__sxyuM {
    position: relative;
    top: auto;
    left: auto;
  }
}
.svg__cmIiO {
  object-fit: cover;
  width: 30px;
  height: 30px;
  color: #edded4;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__cmIiO {
    object-fit: cover;
    width: 30px;
    height: 30px;
    color: #edded4;
    display: block;
    overflow: hidden;
    flex-shrink: 0;
  }
}
.svg___6GaiA {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 5px;
  color: #edded4;
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
  display: block;
  transform-origin: top left;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg___6GaiA {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 5px;
    color: #edded4;
    transform: scale(1.000000499999875, 0.999999500000375)
      rotate(-0.057295760416576934deg) skew(-0.05729570311883569deg, 0deg);
    display: block;
    transform-origin: top left;
    left: auto;
    top: auto;
    min-width: 0;
  }
}
