@import url("https://fonts.googleapis.com/css2?family=EB+Garamond%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Monsieur+La+Doulaise%3Aital%2Cwght%400%2C400&family=Tangerine%3Aital%2Cwght%400%2C400%3B0%2C700&display=swap");
.root_reset {
  font-family: "EB Garamond", serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  color: #74625a /* plasmic-token: _-pdkUEzI */;
  text-align: left;
  text-transform: none;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: normal;
}
