.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}
.button {
  display: none;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button {
    cursor: pointer;
    display: flex;
    border-width: 1px;
    border-style: none;
  }
}
.svg {
  object-fit: cover;
  width: 35px;
  height: 1em;
  color: #74625a;
  display: block;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg {
    width: 60px;
    height: 32px;
    object-fit: cover;
    color: #74625a;
    display: block;
    flex-shrink: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__darkBg {
    color: #edded4;
  }
}
